@tailwind base;
@tailwind components;
@tailwind utilities;

.blackOverlay{
    background-color: rgba(0, 0, 0, 0.7);
}

.image-overlay{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 1));
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* Add other styles as needed */
  }

.laptop{
    padding: 16px;
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    border-radius: 12px;
    width: 100%;
    height: auto;
    text-decoration: none;
    color: inherit;
    outline: 0px;
    flex: 1 1 20%;
    margin: 0px 16px 16px;
    font-family: "Basis Grotesque Pro", Arial, sans-serif !important;
    height: 100%;
    font-weight: 400;
}


.footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
  }
  
  .footer-logo img {
    width: 150px;
    height: auto;
  }
  
  .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #333;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
    margin: 0 10px;
    color: #333;
  }
  
  .social-links i {
    font-size: 20px;
  }
  
  .copyright {
    color: #333;
  }
  

  .makeup{
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
  }

  .secondMakeup{
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    font-weight: 300;
    font-family: "Basis Grotesque Pro", Arial, sans-serif !important;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .thirdMakeup{
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    font-weight: 300;
    font-family: "Basis Grotesque Pro", Arial, sans-serif !important;
    color: inherit;
    margin: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 16px;
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    border-radius: 12px;
    width: 100%;
    height: auto;
  }